<div class="manapoints item-config">
  <h2 class="description-header accordion-heading">
    {{localize "BlackFlag-AP.mana.manaPointsSettingsItemTitle"}}
  </h2>
  <div class="accordion-content" style="display: none">
  {{#if false}}  // debug code to see flags in ui settings section
    <p>{{flags.manapoints}}</p>
    <p>{{#each flags.manapoints}}
      {{@key}}: {{this}} <br />
    {{/each}}</p>
    <hr />
    <p>{{#each flags.manapoints.leveledProgressionFormula}}
      {{@key}}: {{this}} <br />
    {{/each}}</p>
    <hr />
    <p>{{#each flags.manapoints.spellManaCosts}}
      {{@key}}: {{this}} <br />
    {{/each}}</p>
    <hr />
  {{/if}}

    <!-- Enable automatic progression calculation -->
    <div class="form-group">
      <label>{{localize "BlackFlag-AP.mana.autoLabel"}}</label>
      <input
        type="checkbox"
        name="flags.manapoints.autoLevelManaPoints"
        data-dtype="Boolean"
        {{checked flags.manapoints.autoLevelManaPoints}}
      />
      <p class="notes">{{localize "BlackFlag-AP.mana.autoNote"}}</p>
    </div>

    <!-- Choose Formula -->
    {{#if flags.manapoints.autoLevelManaPoints}}
      <!-- Edit Forumla -->
      <hr>
      <div class="mana-points-progression">
        <div class="leveled-progression" style="display:block">
          <!-- Leveled progression -->
          <h3>{{localize "BlackFlag-AP.mana.leveledProgressionTitle" ManaPoints=name}}</h3>
          <div class="form-group">
            <label><i>{{localize "BlackFlag-AP.mana.leveledProgressionLevel" }}</i></label>
            <div><i>{{localize "BlackFlag-AP.mana.leveledProgressionGained" ManaPoints=name}}</i></div>
          </div>
          {{#each flags.manapoints.leveledProgressionFormula as |mana level|}}
            <div class="form-group" style="gap:10px;">
              <div>
                <label>{{localize "BlackFlag-AP.mana.spAtLevel" characterLevel=level }}</label>
              </div>
                <div class="form-fields">
                <textarea style="min-height:10px" placeholder="0" class="manapoints" rows="1"
                  name="flags.manapoints.leveledProgressionFormula.{{level}}">{{mana}}</textarea>
              </div>
            </div>
          {{/each}}
          <p class="notes">{{localize "BlackFlag-AP.mana.leveledNotes"}}</p>
        </div>

      </div>
    {{/if}}

    <!-- Mana cost per spell level -->
    <h3>{{localize "BlackFlag-AP.mana.manaPointsCostsTitle" ManaPoints=name}}</h3>
    <div class="form-group" style="gap:10px;">
      <div><i>{{localize "BlackFlag-AP.mana.spellLevelHeader"}}</i></div>
      <div><i>{{localize "BlackFlag-AP.mana.neededToCastHeader" ManaPoints=name}}</i></div>
      <div></div>
    </div>
    {{#each flags.manapoints.spellManaCosts as |cost level|}}
      <div class="form-group manapoints-costs" style="gap:10px;">
        <label>{{localize "BlackFlag-AP.mana.costLabel" slotLevel=level}}</label>
        <div class="form-fields">
          <textarea style="min-height:10px" class="manapoints" rows="1"
            name="flags.manapoints.spellManaCosts.{{level}}">{{cost}}</textarea>
        </div>
      </div>
    {{/each}}
    <p class="notes">{{localize "BlackFlag-AP.mana.manaPointsCostsNote"}}</p>

    <!-- Indicate end of settings and beginning of description when settings visible -->
    <h2>{{localize "BlackFlag-AP.mana.ItemDescriptionTitle"}}</h2>

  </div>
</div>
